[submodule "immanuel_ben-pack/lib/mark-multiple"]
	path = immanuel_ben-pack/lib/mark-multiple
	url = https://github.com/magnars/mark-multiple.el.git
[submodule "immanuel_ben-pack/lib/zencoding"]
	path = immanuel_ben-pack/lib/zencoding
	url = https://github.com/rooney/zencoding.git
[submodule "immanuel_ben-pack/lib/php-mode"]
	path = immanuel_ben-pack/lib/php-mode
	url = https://github.com/ejmr/php-mode.git
[submodule "immanuel_ben-pack/lib/less-css-mode"]
	path = immanuel_ben-pack/lib/less-css-mode
	url = https://github.com/purcell/less-css-mode.git
[submodule "immanuel_ben-pack/lib/color-theme-buffer-local"]
	path = immanuel_ben-pack/lib/color-theme-buffer-local
	url = https://github.com/vic/color-theme-buffer-local
[submodule "immanuel_ben-pack/lib/monky"]
	path = immanuel_ben-pack/lib/monky
	url = git://github.com/ananthakumaran/monky.git
[submodule "immanuel_ben-pack/lib/idle-highlight-mode"]
	path = immanuel_ben-pack/lib/idle-highlight-mode
	url = https://github.com/nonsequitur/idle-highlight-mode.git
